{%extends 'base.html'%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{%block content%}
<body>

  <a href="{%url 'logout'%}">Logout</a>

<!-- <div class="row">
  <div class="col-sm-4">
    {% for category in categories %}
    <div class="card" style="width: 18rem">
      {%if category.thumbnail %}
      <img
      class="card-img-top"
      src="{{category.thumbnail.url}}"
      alt="Card image cap"
      />
      {%endif%}
      <div class="card-body">
        <h5 class="card-title">{{category.name}}</h5>
          <a
          href="{% url 'product-detail' category.id %}"
          class="btn btn-primary"
          >View Items</a>
      </div>
    </div>
    {% endfor %} 
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="card">
        {% for category in categories %}
        <div class="card-body">
          {%if category.thumbnail %}
          <img
          class="card-img-top"
          src="{{category.thumbnail.url}}"
          alt="Card image cap"
         />
         {%endif%}
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        {%endfor%}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->

<div class="row">
  {%for category in categories%}
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <a href="{% url 'product-detail' category.id %}">
        <img src="{{category.thumbnail.url}}" class="card-img-top" alt="..." style="height: 18rem;">
      </a>
      
    </div>
  </div>
  {%endfor%}
</div>
  
</body>

{%endblock%}