{% extends "base.html" %} 
{%load static%}
{% block title %} Buy Product {% endblock title%} 
{% block content %}

<a href="{%url 'cart'%}">Cart</a>

<div class="container">
  <div class="row">
    {%for item in products%}
    <div class="col-md-4 mt-4">
     <div class="card-group">
      <div class="card" style="width: 18rem;">
        <img src="{{item.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{item.name}}</p>
          <p class="card-text">{{item.price}}</p>
          <button data-product="{{item.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        </div>
      </div>
     </div>
    </div>
    {%endfor%}
  </div>
</div>

{%endblock%}




