{%extends 'base.html'%}
{%block content%}


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>


<div class="row pb-3">
    {% for result in results %}
    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
          <div class="product-img position-relative overflow-hidden">
              <img class="img-fluid w-100" src="{{result.image.url}}" alt="">
              <div class="product-action">
                  <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                  <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                  <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                  <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
              </div>
          </div>
          <div class="text-center py-4">
             <p class="h6 text-decoration-none text-truncate">{{result.name}}</p>
              <div class="d-flex align-items-center justify-content-center mt-2">
                  <h5>${{result.price}}</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
              </div>
              
              <button data-product="{{result.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">Add to Cart</button>

              <div class="d-flex align-items-center justify-content-center mb-1">
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small class="fa fa-star text-primary mr-1"></small>
                  <small>(99)</small>
              </div>
          </div>
      </div>
  </div>
    {% endfor %}
  </div>


<br/>

{{result.content}}
<br/>


{% else %}
No search results for this query
{% endif %}
{% endif %}



{%endblock%}


<div class="row pb-3">