{%extends 'base.html'%}
{%block content%}


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>


<div class="row">
    {% for result in results %}
    <div class="col-lg-4">
      <img class="thumbnail" src="{{result.image.url}}">
      <div class="box-element product">
        <h6><strong>{{result.name}}</strong></h6>
        <hr>
  
        <button data-product="{{result.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="display: inline-block; "><strong>${{result.price}}</strong></h4>
  
      </div>
    </div>
    {% endfor %}
  </div>


<br/>

{{result.content}}
<br/>


{% else %}
No search results for this query
{% endif %}
{% endif %}



{%endblock%}